<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 📸 Permisos para acceder a imágenes del almacenamiento -->
    <!-- Compatibilidad con versiones anteriores y Android 13+ -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <!-- Declaración de hardware de cámara opcional -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application



        android:allowBackup="true"
        android:icon="@drawable/logo_monaco"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_monaco"
        android:supportsRtl="true"
        android:theme="@style/Theme.Monaco">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>




        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBT4bqQ301Co-EywTPALuCkl6qMVsktP04"/>

        <!-- SplashActivity: pantalla inicial -->
        <activity
            android:name="com.monaco.app.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Monaco">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WelcomeActivity -->
        <activity
            android:name="com.monaco.app.activities.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco" />

        <!-- LoginActivity -->
        <activity
            android:name="com.monaco.app.activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco" />

        <!-- RegisterActivity -->
        <activity
            android:name="com.monaco.app.activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco" />

        <!-- ProfileActivity -->
        <activity
            android:name="com.monaco.app.activities.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco" />

        <!-- MenuActivity -->
        <activity
            android:name="com.monaco.app.activities.MenuActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco" />

        <activity
            android:name="com.monaco.app.activities.AddProductActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name="com.monaco.app.activities.AdminproductosActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name="com.monaco.app.activities.EditProductActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name="com.monaco.app.activities.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name="com.monaco.app.activities.UserManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name=".activities.AdminPanelActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name=".activities.AddStoreActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name=".activities.MapStoresActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name=".activities.AdminStoresActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name=".activities.SelectLocationActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>

        <activity
            android:name=".activities.EditUserActivity"
            android:exported="false"
            android:theme="@style/Theme.Monaco"/>




    </application>

</manifest>
